# Entornos virtuales de Python
.venv/
venv/
env/

# Archivos de configuración de PyCharm
.idea/

# Archivos temporales de Python
__pycache__/
*.pyc

# Carpetas de imágenes generadas y pruebas
outputs/

# La carpeta de resultados temporales de YOLO
runs/

# El modelo base genérico (pesa y se descarga solo si hace falta)
yolov8n.pt

# El dataset gigante (Si lo tuvieras dentro de la carpeta del proyecto)
DATASET/
dataset/
dataset_yolo